ml_api/
.env

src/
!app/android/app/src

# Miscellaneous
app/*.class
app/*.log
app/*.pyc
app/*.swp
app/.DS_Store
app/.atom/
app/.buildlog/
app/.history
app/.svn/

# IntelliJ related
app/*.iml
app/.ipr
app/*.iws
app/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
app/**/doc/api/
app/**/ios/Flutter/.last_build_id
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/.pub-cache/
app/.pub/
app/build/

# Web related
app/lib/generated_plugin_registrant.dart

# Symbolication related
app/app.*.symbols

# Obfuscation related
app/app.*.map.json

# Android Studio will place build artifacts here
app/android/app/debug
app/android/app/profile
app/android/app/release